<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
</head>
<body>
    <h1>Password Generator</h1>
    <form method="post">
        {% csrf_token %}
        <label for="pass_len">Enter the length of the password:</label>
        <input type="number" id="pass_len" name="pass_len" required>
        <button type="submit">Generate</button>
    </form>
    {% if password %}
        <h2>Your generated password:</h2>
        <p>{{ password }}</p>
    {% endif %}
</body>
</html>